<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../static/vendor/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}">NUS Capstone 2024</a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}">Intelligent Document Processing System</a>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="{{ url_for('index') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Overview
                        </a>
                        <a class="nav-link" href="https://www.youtube.com/watch?v=43cFbTThXIM">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Demo
                        </a>
                        <div class="sb-sidenav-menu-heading">AI Engineer Module</div>
                        <a class="nav-link" href="./aienginnerguide.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            AI Engineer Handbook
                        </a>
                        <a class="nav-link" href="./aidocumentprocessing.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Document Processing
                        </a>
                        <a class="nav-link" href="./aimodeltraining.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Model Training
                        </a>
                        <div class="sb-sidenav-menu-heading">Mech Enginner Module</div>
                        <a class="nav-link" href="./mechenginnerguide.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Mech Engineer Handbook
                        </a>
                        <a class="nav-link" href="./mechchatbotmanual.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Chatbot - Manual
                        </a>
                        <a class="nav-link" href="./chatbot.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Chatbot - LLM
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">NUS ISS Capstone 2024 PT</div>
                    <div class="small">Group 1</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Intelligent Document Processing System</h1>

                    <ol class="breadcrumb mb-4">
                        <!--<li class="breadcrumb-item active">
                            <h4>Executive Summary</h4>
                        </li>-->
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-book-open"></i>
                            Intelligent Document Processing System  </br> <b>Authors: Sujatha Sureshkumar, Tan Jun Ming, Gwen Foong Yuet Yann</b>
                        
                        </div>
                        <div class="card-body">
                            <div>


                            </div>
                            <h1>Introduction</h1>

                            <h2>Overview</h2>
                            <p>
                                The engineering sector is undergoing a significant transformation as sustainability becomes a central focus of development and innovation. Among the myriad of high-value products, electric vehicle (EV) batteries stand out due to their essential role in the shift towards clean energy transportation. As demand for EVs rises, so does the need for effective remanufacturing, repurposing, and recycling strategies. These processes not only extend the lifecycle of critical components but also contribute to environmental conservation by minimizing waste.
                            </p>
                        
                            <h2>Challenges in Maintenance</h2>
                            <p>
                                Despite the growing urgency for efficient maintenance and servicing of EV batteries, engineers and technicians face considerable challenges. The complexity of service manuals—often dense with technical jargon, intricate diagrams, and numerous operational protocols—can create barriers to effective knowledge application. Navigating these manuals can lead to inefficiencies, increased maintenance times, and potential safety risks, ultimately hindering progress toward more sustainable engineering practices.
                            </p>
                        
                            <h2>Project Objective</h2>
                            <p>
                                This project seeks to mitigate these challenges by developing a sophisticated knowledge database that extracts and organizes information from existing engineering manuals. Utilizing advanced natural language processing (NLP) techniques for text analysis and vision system processing for image interpretation, our solution will streamline the maintenance process for EV batteries. The goal is to create an intuitive, user-friendly web application that allows users to query the database easily, retrieving relevant information and visual aids that enhance their understanding of complex components.
                            </p>
                        
                            <h2>Technical Approach</h2>
                            <p>
                                The project begins with comprehensive data extraction from engineering manuals, primarily in PDF format. This process involves two critical components: text extraction and image extraction.
                            </p>
                            <img src="../static/vendor/img/img_techical_overview.png" alt="Usecase" class="center"/>
                            <h3>Data Extraction</h3>
                            <p>
                                Utilizing PDF parsing libraries, we extract text content from the manuals and simultaneously extract images embedded within the PDF. This ensures that all relevant information is captured accurately and stored systematically for subsequent processing.
                            </p>
                            
                            <h3>Image Processing</h3>
                            <p>
                                We employ vision system processing to identify legend images that accompany main diagrams, utilizing object detection algorithms and optical character recognition (OCR) to extract and correlate textual information from the images. Additionally, segmentation techniques will break down complex images into identifiable sections, linking them to textual descriptions.
                            </p>
                            <img src="../static/vendor/img/Image_processing_overview.png" alt="Usecase" class="center"/>
                            <h3>Text Processing</h3>
                            <p>
                                The extracted text undergoes rigorous processing, including sentence breakdown, cleaning, and named entity recognition (NER) to identify critical components, tools, and joints. The refined data is converted into vector embeddings to facilitate efficient searching and retrieval.
                            </p>
                            <img src="../static/vendor/img/text_processing_overview.png" alt="Usecase" class="center"/>
                            <h3>Integration of Large Language Model (LLM)</h3>
                            <p>
                                A chatbot interface will enhance user interaction with the knowledge database. Users will input queries that are transformed into vector form, with a filtering mechanism ensuring the retrieval of contextually relevant results. Utilizing advanced pipelines for question answering and text generation, the system will generate coherent, human-readable responses tailored to the user’s needs.
                            </p>
                            <img src="../static/vendor/img/img_llm_output_description.png" alt="Usecase" class="center"/>
                            
                            <h2>Deliverables</h2>
                            <p>
                                The deliverable is a robust web-based application that not only processes engineering manuals but also serves as a vital resource for maintenance professionals. Key functionalities will include user uploads of maintenance manuals, comprehensive document processing (both text and images), and an interactive querying system. By bridging the gap between complex technical documentation and practical application, this project aims to enhance the efficiency and effectiveness of maintenance processes in the engineering sector, supporting its broader commitment to sustainability and innovation.
                            </p>
                        
                            <!--<div>
                                 <p class="lead"><b>Overview</b></p>
                                 <p class="lead">The Intelligent Document Processing System, aimed at revolutionizing electric vehicle (EV) maintenance. This project addresses the challenge of efficiently retrieving sub-components from EV batteries by building a knowledge graph from existing resources such as text manuals and graphical images. Real-world statistics emphasize the growing complexity of EV batteries, highlighting the need for an intelligent system. The project unfolds in three phases: Team Project Proposal, Detailed Project Proposal, and Technical Paper & Report, with a focus on creating an interface that facilitates user prompts for efficient sub-component retrieval. </p>
                    
                                <p class="lead">The process involves extract relevant information from existing text manuals (using NLP) and 2D images (using scene partition / object detection) to construct a comprehensive knowledge graph of EV Parts components. 
                                </p>
                                <ol>
                                    <li class="lead">
                                        <p>The sample of the disassembly manual from battery OEM is as shown in the figure below. It consists of both text instructions as well as graphical images. </p>
                                        <img src="../static/vendor/img/img_introduction_1.png" alt="Usecase" class="center" width="700"
                                        height="400" />
                                    </li>
                                    <li class="lead">
                                        <p>A typical text instruction and 2D exploded view image is as shown in the figure below respectively.</p>
                                        <img src="../static/vendor/img/img_introduction_3.png" alt="Usecase" class="center" width="700"
                                        height="400" />
                                        <img src="../static/vendor/img/img_introduction_4.png" alt="Usecase" class="center" width="700"
                                        height="400" />
                                    </li>
                                    <li class="lead">
                                        <p>The knowledge graph to be constructed will be similar to the one as shown in Figure 1(b). The nodes will be the different sub-components in the EV battery while the linkages between nodes could be sequential relationship between then (i.e. which component needs to be removed before getting access to it).</p>
                                        <img src="../static/vendor/img/img_introduction_2.png" alt="Usecase" class="center" width="700"
                                        height="400" />
                                    </li>
                                </ol>

                            </div>-->

                            
                        </div>

                    </div>

                  
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; NUS-ISS</div>
                        <div>
                            <a href="https://nus.edu.sg/ormc/compliance/personal-data-protection-at-nus/nus-privacy-notice">Privacy Policy</a>
                            &middot;
                            <a href="https://www.nus.edu.sg/uhc/terms-conditions">Terms of use</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>